<launch>

    <node name= "ppm_reading" pkg="capstone2020" type="ppm_reader.py" />
    <node name= "ppm_sending" pkg="capstone2020" type="control_sender.py" />
    <node name= "gps_node" pkg="capstone2020" type="gps_node.py" />
    <node name= "imu_node" pkg="capstone2020" type="imu.py" />
    <node name= "getting_node" pkg="capstone2020" type="getting.py" />
    <node name= "control_node" pkg="capstone2020" type="control.py" output="screen" />

</launch>