
<launch>

    <node name= "test_gps_node" pkg="capstone2020" type="test_gps_node.py" />
    <node name= "test_control_rpi_node" pkg="capstone2020" type="test_control_rpi.py" output="screen" />
    <!--node name= "set_area_node" pkg="capstone2020" type="set_area.py" output="screen" /-->
    
</launch>